
# 忽略所有的.class文件
*.class

# 忽略所有的.log文件
*.log

# 忽略所有的.iml文件（IntelliJ IDEA项目文件）
*.iml

# 忽略所有的.gradle文件和文件夹（Gradle构建系统）
*.gradle
/gradle/
/.gradle/
/build/
/captures/

# 忽略Android Studio的导航文件和缓存目录
.idea/
*.iws
*.ipr
*.tmp
/local.properties
/.idea/workspace.xml
/.idea/misc.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/asr-core
/BankLibrary
/IdcardLibrary
/xupdate-lib
/app/sit/release/
/gradlew.bat
