<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name="com.liucai.core.base.LcaiBaseApplication"
        android:allowBackup="false"
        android:supportsRtl="true">
        <activity android:name=".view.LcaiPermissionActivity"
            android:exported="false"
            android:theme="@style/LcaiTransparentTheme"
            android:launchMode="singleInstance"/>
    </application>

</manifest>