/.idea/
/AndroidProjectSystem.xml
/inspectionProfiles/Project_Default.xml
/assetWizardSettings.xml
/compiler.xml
/deviceManager.xml
/gradle.xml
/migrations.xml
/misc.xml
/runConfigurations.xml
/vcs.xml
/workspace.xml
/dictionaries/project.xml
